*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$purple: #3a3090;
$pink: #e54b84;
$white: white;
$black: #272727;
$blue: #443b97;
$light-gray:#b4b1d5;

@mixin default-text {
    font-family: sans-serif;
    color: $black;
}

@mixin default-h5 {
    font-size: 18px;
    line-height: 23px;
    font-weight: 100;
    color: $blue;
}

@mixin default-h4 {
    font-size: 22px;
    line-height: 25px;
    font-family: sans-serif;
    font-weight: 100;
    text-transform: capitalize;
    color: $white;
}

@mixin default-h2 {
    color: $white;
    font-size: 30px;
}

@mixin default-h3 {
    font-size: 14px;
}

@mixin default-li {
    list-style: none;
    display: inline;
    color: $white;
}

@mixin default-p {
    color: #b4b1d5;
    font-size: 15px;
    font-family: sans-serif; 
    line-height: 1.5;
    font-weight: 500;
}

@mixin default-ul {
    width: 660px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin row {
    display: flex;
    justify-content: space-between; 
}

@mixin column {
    display: flex;
    flex-direction: column;
}




.container{
    width: 1200px;
    margin:auto;
    padding-left: 15px;
    padding-right: 15px;

     @media only screen and (max-width: 768px){
           width: 100%;
        }
}

.header-section{
    width: 100%;
   background-color: $purple;
    position: fixed;
    z-index: 2;

    .items{
        width: 100%;
        height: 90px;
        @include row();
        align-items: center;

        @media only screen and (max-width: 768px){
            display: flex;
            flex-direction: column;
        }

        .logo{
            width: 165px;
            height: 40px;
            background-size: contain;
            background-position: center center;
        }

        .nav-bar{
            width: 650px;
            height: 90px;
            @include row();

            .menu{
                width: 530px;
                height: 90px;
                @include row();
                align-items: center;
                
                ul{
                    @include default-ul();
                  }

                li{
                    @include default-li();
                }

                a{
                    font-size: 14px;
                    font-family: arial; 
                    color: $white;
                    text-transform: uppercase;
                    text-decoration: none;  
                    transition: 0.5s;
                }

                li:hover a{
                    color: $pink;
                }
            }
        }

        .search-cart{
            width: 90px;
            height: 90px;
            @include row();
            align-items: center;

            .icon{
                width: 45px;
                height: 90px;
                color: $white;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 13px;
                transition: 0.5s;
            }

            .icon:hover{
                color: $pink;
            }
        }
    }
}

.background-image{
    width: 100%;
    height: 730px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}


.wrapper{
    width: 100%;
	padding-top: 90px;
	z-index: 1;
}

.slider-section{
    width: 100%;
    padding-top: 120px;

    .items{
        width: 100%;
        height: 600px;
        @include row();
        align-items: center;

        // @media only screen and (max-width: 900px){
        //    display: flex;
        //    flex-direction: column;
        //    justify-content: center;
        // }

        .img{
            width: 515px;
            height: 470px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            position: relative;

            .price{
                width: 150px;
                height: 150px;
                border-radius: 100%;
                background-color: $pink;
                @include column();
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 40px;
                left: 50px;


                p{
                    font-family: sans-serif;
                    font-size: 20px;
                    color: $white;
                    text-transform: capitalize;
                    line-height: 1.5;
                }
            }

            .sale{
                width: 90px;
                height: 90px;
                border-radius: 100%;
                background-color: $white;
                @include column();
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 30px;
                left: 180px;
            }
        }

        .text{
            width: 515px;
            height: 470px;
            @include column();
            justify-content: left;

            h2{
              color: $white;
              font-family: sans-serif;
              font-size: 70px;
              text-transform: uppercase;
              font-weight: 100;
              padding-bottom: 20px;
            }

            .benefits{
                width: 350px;
                height: 23px;
                display: flex;
                color: lightgrey;
                font-size: 15px;
                font-weight: 100;
                margin-bottom: 10px;

                i{
                    padding-right: 7px;
                }
            }

            .button{
                width: 235px;
                height: 42px;
                background-color: $pink;
                color:$white;
                display: flex;
                justify-content:center;
                align-items: center;
                text-decoration: none;
                font-size: 18px;
                margin-top: 40px;
                transition: 0.5s;

                i{
                    padding-left: 10px;
                }
            }

            .button:hover{
                background-color: $white;
                color: $black;
            }
        }
        
    }
}


.domain-section{
    width: 100%;
    height: 240px;
    background-color: #f5f5f5;

    .items{
        width: 100%;
        height: 240px;
        display: flex;
        justify-content: center;
        align-items: center;

        .left{
            width: 500px;
            height: 240px ;
            display: flex;
            justify-content: left;
            align-items: center;

            .item{
                width: 80px;
                height: 60px;
                font-size: 25px;
                border-right: 0.3px solid lightgray;
                text-align: center;
                @include default-text();

                .price{
                    font-size: 20px;
                }
            }
        }

        .right{
            width: 680px;
            height: 240px;
            display: flex;
            align-items: center;

            .item{
                width: 500px;
                height: 145px;
                display: flex;
                flex-wrap: wrap;

                input{
                    width: 391px;
                    height: 70px;
                    background-color: white;
                    outline-width: 0px;
                    border: 0.1px solid lightgray;
                    padding: 20px;
                }

                select{
                    width: 102px;
                    height: 70px;
                    border: 1px solid lightgray;
                    outline-width: 0px;
                }

                .button{
                    width: 168px;
                    height: 70px;
                    color: white;
                    background-color: $purple;
                    font-size: 14px;
                    font-family: sans-serif;
                    text-transform: uppercase;
                }
            }
        }
    }
}

.offer-section{
    width: 100%;
    border-bottom: 1px solid gray;

    .items{
        width: 100%;
        height: 600px;
        @include column();
        justify-content: center;
        align-items: center;
        margin-top: 60px;

        .text{
           width: 100%; 
           height: 143px;
           text-align: center;

           span{
               border-bottom: 1px solid black;
               font-size: 27px;
               text-transform: uppercase;
               font-weight: 700;
               @include default-text();
           }

           h5{
               @include default-h5();
               font-size: 19px;
               text-transform: uppercase;
               padding-top: 15px;
           }
        }

        .offer-cards{
            width: 100%;
            height: 372px;
            @include row();
            padding-left: 25px;
            padding-right: 25px;

            .card{
                width: 255px;
                height: 370px;
                background-color: $purple;
                @include column();
                padding: 45px;
                text-align: center;
                justify-content: center;
                align-items: center;
                transition: 0.5s;

                i{
                    font-size: 35px;
                    color: $white;
                }

                h4{
                    @include default-h4();
                    padding-top: 20px;
                }

                p{
                    @include default-p();
                    padding-top: 20px;
                }

                .circle{
                    width: 46px;
                    height: 46px;
                    border-radius: 100%;
                    border: 1px solid $light-gray;
                    color: gray;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 20px;

                    span{
                        font-size: 20px;
                        font-weight: bold;
                    }
                }
            }

            .card:hover {
                background-color: $white;
                color: $purple;
                border: 1px solid $purple;
            }

            .card:hover h4{
                color: $purple;
            }

            .card:hover i{
                color: $purple;
            }

            .card:hover p{
                color: gray;
            }
        }
    }
}

